p {
    color: white;
}

.card-header {
    border-bottom: unset !important;
}

.row {
    margin-top: 1.25rem;
}

.card {
    margin: 1.25rem;
}

.card-footer {
    text-align: center;
    border-top: unset;
}