<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="sidebar">
        <div class="global-bar">
            <a *ngIf="log" class="sidebar-item" href="/games">
                <mat-icon class="sidebar-icon">home</mat-icon>
                {{playerName}}
            </a>
            <a class="sidebar-item" href="/games">
                <mat-icon class="sidebar-icon">home</mat-icon>
                Play
            </a>
            <a class="sidebar-item" href="/leaderboards">
                <mat-icon class="sidebar-icon">table_chart</mat-icon>
                Leaderboards
            </a>
            <a class="sidebar-item"  (click)="logout()">
                <mat-icon class="sidebar-icon">input</mat-icon>
                <a>{{logStatus}}</a>
            </a>
        </div>
    </div>


    <div class="main-content">
        <router-outlet></router-outlet>
    </div>