.sidebar {
    width:200px;
    min-width:200px;
    max-width:200px;
    display:flex;
    flex-direction:column;
    background-color: #02101a;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    gap:normal;
    line-height: 50.86px;
}

.logo-sidenav {
    width: 25%;
    height: 25%;
    margin: auto;
}

mat-icon {
    font-size: 60px;
    margin:0px 50px 0px 10px;
}

.sidebar-icon {
    color:#7e838c;
}
.sidebar-item {
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    text-align: center;
    color:#7e838c;
    position: relative;
    text-decoration: none;
    gap:normal;
    line-height: 20.86px;
    margin: 10rem;
}
::ng-deep .tooltip-lb {
    font-size: 1.25rem;
  }


.sidebar-item.logout {
    position: absolute;
    bottom: 0;
}

.sidebar-item .logout:hover {
    cursor: pointer;
}

.sidebar-item:hover {
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    .sidebar-icon {
        color: hsl(0, 0%, 100%);
    }
}

.main-content {
    top: 0;
    bottom:0;
    position: fixed;
    width: -moz-calc(100vw - 170px);
    /* WebKit */
    width: -webkit-calc(100vw - 170px);
    /* Opera */
    width: -o-calc(100vw - 170px);
    /* Standard */
    width: calc(100vw - 170px);
    margin-left: 200px;
    overflow-y: scroll;
    background-color: #051622;
}