p, h2, h3, h6{
    color: white;
}

.col-md-8 {
    border: 1px solid white;
    text-align: center;
}

.col-md-4 {
    border: 1px solid white;
}

.participant {
    text-align: center;
    border: 1px solid white;
    padding: 15px;
}

.col-sm {
    margin: 25px auto;
}

.player-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.card {
    background-color: #09263b;
    border-radius: 0.50rem;
    max-height: 82px;
}

.card-title {
    color: white;
    text-align: center;
    font-size: 1rem;
}

.card-body {
    padding: 0.50rem;
}

.card {
-webkit-box-shadow: -15px 15px 35px 8px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 15px 35px 8px rgba(0,0,0,0.75);
box-shadow: -15px 15px 35px 8px rgba(0,0,0,0.75);
}

.row .p {
    border: 1px solid white;
}

.team {
 text-align: center;
}

.details {
    margin-top: 1.25rem;
    text-align: center;
}

.game-time {
    margin: 1.25rem;
    align-items: center;
}

.outcome {
    margin-top: 1.25rem;
}

.admin {
    flex-direction: column;
    color: white;
    justify-content: center;
    height: 350px;

    text-align: center;
}

.outcome-error {
    font-size: 16px;
    margin: 1.25rem;
    font-style: italic;
    color: red;
}


::ng-deep .mat-radio-label-content {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    display: inline-block;
    order: 0;
    line-height: inherit;
    // padding-left: 1.25rem !important;
    // padding-right: 1.25rem !important;
    padding: 1.5rem !important;
}

::ng-deep .mat-radio-outer-circle {
    border-color: white;
    color: white !important;
}