
<div class="container">
<p>view-match works!</p>
<p>Viewing match {{matchId}}</p>
<p> Current User: {{user}}</p>

<div class="match-container" *ngFor="let game of matchDetails; index as i;">
<p>{{game.match_uuid}}</p>
<p>{{game.match_name}}</p>
<p>{{game.date}}</p>
<p>{{game.time}}</p>
<p>{{game.admin}}</p>
<p>{{game.outcome}}</p>
</div>

<div class="row no-gutters">
    <div class="col-6 col-md-4">
            <button mat-raised-button color="accent" (click)="joinMatch()">
                Join
                <i class="fa fa-plus"></i>
            </button>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm">
            <p>One of three columns</p>
          </div>
          <div class="col-sm">
            <p>One of three columns</p>
          </div>
          <div class="col-sm">
            <p>One of three columns</p>
          </div>
        </div>
        <div class="row">
            <div class="col-sm" *ngFor="let p of participants; let i=index">
                <p>{{p.participants}}</p>
              </div>
              <div class="col-sm">
                <p>One of three columns</p>
              </div>
              <div class="col-sm">
                <p>One of three columns</p>
              </div>
        </div>
      </div>
</div>
