<div class="container-fluid">
  <div class="container details" *ngFor="let game of matchDetails; index as i;">
    <div class="row">
      <div class="col-md-8">
        <h2>{{matchName}}</h2>
        <h6>Mode: {{game.match_type}}</h6>
        <h6>Admin: {{game.admin}}</h6>
      </div>
      <div class="col-md-4">
        <h3 class="game-time">{{game.date}} @ {{game.time}}<div><span class="{{badge}}">{{daysUntil}}</span></div></h3>
        
      </div>
    </div>

    <div class="row justify-content-center outcome">
      <div class="col-md-8 ">
        <h6>Outcome: {{game.outcome}}</h6>
      </div>
    </div>
  </div>


  <div class="row no-gutters">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>Participants</p>
        </div>
      </div>
      <div class="row p">
        <div class="col-sm" *ngFor="let p of participants; let i=index">
          <div style="width: 250px;">
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">{{i + 1}}</span>
                    <h5 class="card-title">{{p.summoner_name}}</h5>
                  </div>
                  <div class="col-auto">
                    <img class="player-icon"
                      src="http://ddragon.leagueoflegends.com/cdn/10.7.1/img/profileicon/{{p.player_icon}}.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm" *ngIf="!max">
          <button mat-raised-button color="accent" (click)="joinMatch()">
            Join
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="container team">
      <div class="row">
        <div class="col-sm">
          <p>Team 1</p>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <p>Team 2</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">TOP</span>
                    <h5 class="card-title">{{team_one[0]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">TOP</span>
                    <h5 class="card-title">{{team_two[0]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">JUNGLE</span>
                    <h5 class="card-title">{{team_one[1]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">JUNGLE</span>
                    <h5 class="card-title">{{team_two[1]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">MID</span>
                    <h5 class="card-title">{{team_one[2]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm">
          <p> VS </p>
        </div>
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">MID</span>
                    <h5 class="card-title">{{team_two[2]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">ADC</span>
                    <h5 class="card-title">{{team_one[3]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">ADC</span>
                    <h5 class="card-title">{{team_two[3]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">SUPPORT</span>
                    <h5 class="card-title">{{team_one[4]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm">
          
        </div>
        <div class="col-sm">
          <div>
            <div class="card card-stats mb-4 mb-lg-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="text-success mr-2">SUPPORT</span>
                    <h5 class="card-title">{{team_two[4]}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      
    </div>

    <div class="container">
      <div class="row admin" *ngIf="admin">
        <h4>Please select who won:</h4>
        <div class="outcome-selector">
        <div class="team-option">
          <mat-radio-group [(ngModel)]="selection">
            <mat-radio-button value="team1" (change)="onTeamChange($event)">Team 1</mat-radio-button>
            <mat-radio-button value="team2" (change)="onTeamChange($event)">Team 2</mat-radio-button>
          </mat-radio-group>
          <p>Winning team is: {{winningTeam}}</p>
          <p>Losing team is: {{losingTeam}}</p>
        </div>

        <div>
          <p class="outcome-error" *ngIf="selection == undefined && submitted">NO TEAM SELECTED.</p>
          <button mat-raised-button color="accent" (click)="onAdminSubmit()">Submit</button>
        </div>
        </div>
      </div>
    </div>