.card {
    margin: 2rem;
    display: inline-block; /* make blocks inline-block */
    box-shadow: -5px 5px 25px 0px rgba(0,0,0,0.75);
}

.no-gutters {
    margin-left: 10rem !important;
}

.col-6 {
    // background-color: white;
    // border: 1px solid red;
}

.col-sm-8{
   // border: 1px solid green;
}

button {
    margin-left: 15px;
}

p {
    color:black;
}

.search-bar {
    margin-top: 5rem;
}