<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<div class="container">

    <div class="row no-gutters">
        <div class="col-6 col-md-8">

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button mat-raised-button color="accent">
                        <i class="fa fa-plus"></i>
                        Search
                    </button>
                </div>
              </div>

        </div>
        <div class="col-6 col-md-4">
            <a href="/creategame">
                <button mat-raised-button color="accent">
                    <i class="fa fa-plus"></i>
                    Create
                </button>
            </a>
        </div>

        
    </div>
    <div class="col-sm-8">col-sm-8</div>
    <div class="card text-center" style="width: 18rem;" *ngFor="let game of game; index as i;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT02D9By8XQy3k4c_RAs2B9fWtNiiLIpatYTCsaMD_t-K0quvDP&usqp=CAU"
            class="card-img-top" alt="...">
        <div class="card-body">
            <!-- <h5 class="card-title">{{game.matchName}}</h5> -->
            <h5 class="card-title">{{game.match_name}}</h5>
            <h5 class="card-title">{{game.match_type}}</h5>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <i class="fa fa-user-circle-o"></i> 5/10
                </li>
                <li class="list-group-item">
                    <i class="fa fa-calendar"></i> {{game.date}}

                    <i class="fa fa-clock-o"></i> {{game.time}}
                </li>
                <li class="list-group-item"><a href="match/{{game.match_uuid}}" class="btn btn-primary">Join</a></li>
            </ul>
        </div>
    </div>

        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>

    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT02D9By8XQy3k4c_RAs2B9fWtNiiLIpatYTCsaMD_t-K0quvDP&usqp=CAU" class="card-img-top" alt="..."> -->

</div>