.card{
    margin: 15px;
    display: inline-block; /* make blocks inline-block */
}

.col-6 {
    // background-color: white;
    // border: 1px solid red;
}

button {
    margin-left: 15px;
}

p {
    color: wheat;
}