<div class="container">
    <div id="mygames-root">
        <div class="mygames-outer">
            <div class="my-games-body">
                <h1 class="joined">Joined Games </h1>
                <h2 class="upcoming">Upcoming Games </h2>
                <div class="no-games" *ngIf="!noGames">
                    <p>Looks like you don't have any upcoming games!</p>
                    <a href="https://battlefy.com/browse" class="css-1xojhsb7 css-18zqz54">Join Games!</a>
                </div>
                <h2 class="completed">Past Games (1)</h2>
                <ul class="ul-games">
                    <div class="past-games">
                        <div class="past-games-container">
                            <h4 class="css-1aqwat24 css-1r7yzkv">ICE Winter Bash</h4>
                            <p class="css-1aqwat26 css-us2lwj">13/10/2019</p>
                            <p class="css-1aqwat26 css-us2lwj">By <a href="/irish-collegiate-esports" target="_parent"
                                    rel="noopener noreferrer" class="css-1aqwat25 css-dlrf5z">Irish Collegiate
                                    Esports</a></p>
                        </div>
                            <a href="/creategame" class="go-game">
                                Go to Game
                                <!-- <button mat-raised-button color="accent" class="goto-game">
                                    <i class="fa fa-plus"></i>
                                    Create
                                </button> -->
                            </a>
                    </div>
                </ul>
                <ul class="ul-games">
                    <div class="past-games">
                        <div class="past-games-container">
                            <h4 class="css-1aqwat24 css-1r7yzkv">ICE Winter Bash</h4>
                            <p class="css-1aqwat26 css-us2lwj">13/10/2019</p>
                            <p class="css-1aqwat26 css-us2lwj">By <a href="/irish-collegiate-esports" target="_parent"
                                    rel="noopener noreferrer" class="css-1aqwat25 css-dlrf5z">Irish Collegiate
                                    Esports</a></p>
                        </div>
                            <a href="/creategame" class="go-game">
                                Go to Game
                                <!-- <button mat-raised-button color="accent" class="goto-game">
                                    <i class="fa fa-plus"></i>
                                    Create
                                </button> -->
                            </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>