<div class="container">
    <div id="mygames-root">
        <div class="mygames-outer">
            <div class="my-games-body">
                <h1 class="joined">Joined Games </h1>
                <h2 class="upcoming">Upcoming Games ({{upcomingGames.length}}) </h2>
                <div class="no-games">
                    <ul class="ul-games" *ngFor="let ugame of upcomingGames; let i=index">
                        <div class="past-games">
                            <div class="past-games-container">
                                <h4 class="game-name">{{ugame[1].toUpperCase()}}</h4>
                                <p class="game-time">{{ugame[3]}} @ {{ugame[4]}}</p>
                                <p class="created-by">By {{ugame[5]}}</p>
                            </div>
                                <a target="_blank" href="/match/{{ugame[0]}}" class="go-game">
                                    Go to Game
                                </a>
                        </div>
                    </ul>
                    <p *ngIf="noGames">Looks like you don't have any upcoming games!</p>
                    <a *ngIf="noGames" href="/games" class="join-games">Join Games!</a>
                </div>
                <h2 class="completed">Past Games ({{finishedGames.length}})</h2>
                <ul class="ul-games" *ngFor="let game of finishedGames; let i=index">
                    <div class="past-games">
                        <div class="past-games-container">
                            <h4 class="game-name">{{game[1]}}</h4>
                            <p class="game-time">{{game[3]}}</p>
                            <p class="created-by">By {{game[5]}}</p>
                        </div>
                            <a target="_blank" href="/match/{{game[0]}}" class="go-game">
                                Go to Game
                            </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>