body {
    padding: 1em;
  }
  
  th, td {
    background-color: #152b3b;
  }
  td , th{
    color: white;
  }
  .th-name {
    text-align: left;
  }
  .leaderboards-main {
    padding: 2%;
    //display: flex;
    //flex-direction: column;
  }
  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .tableHeader {
    font-size: 22px;
    padding: 10px;
  }
  
  table {
    width: 100%;
    border: 1px solid white;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  .summoner-avatar {
    position:relative;
    margin-right:25px;
    width:48px;
    height:48px;
    border-radius:50%;
    overflow:hidden
  }

  .player-name {
    background-color: #152b3b;
    align-items: center;
  }
  td {
    border: none;
    font-weight:100;
    overflow:hidden;
    text-overflow:ellipsis
  }


  @media
  (min-width: 800px) {
    .summoner-avatar {
        border-radius: 50%;
      }
    }    