<!-- main row -->
<div class="leaderboards-main">
    <div class="row">
            <table>
                <thead>
                    <tr class="camper">
                        <th>#</th>
                        <th class="th-name">Name</th>
                        <th class="number" ng-click="sortData('recent')">
                            Wins
                        </th>
                        <th class="number" ng-click="sortData('alltime')">
                            Losses
                        </th>
                        <th class="number" ng-click="sortData('alltime')">
                            Rank
                        </th>
                        <th class="number" ng-click="sortData('alltime')">
                            Games Played 
                        </th>
                    </tr>
                </thead>

                <tbody *ngFor="let summoner of summoners; index as i;">
                    <tr class="camper">
                        <td>{{i+1}}</td>
                        <div class="player-name">
                            <td class="td-name">
                                <img class="summoner-avatar"
                                    src="http://avatar.leagueoflegends.com/euw/{{summoner.summonerName | lowercase}}.png"><img>
                                {{summoner.summonerName}}
                            </td>
                        </div>
                        <td class="number">{{summoner.wins}}</td>
                        <td class="number">{{summoner.losses}}</td>
                        <td class="number">{{summoner.rank}} {{summoner.tier}}</td>
                        <td class="number">{{summoner.gamesPlayed}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>