<div class="container">    
        <p>Player Details!</p>
        <p>Name</p>
        <p>MMR</p>
        <p>Points</p>
        <p>Standings</p>
        
        <div>
            <h3>Players collectionss</h3>
            <div class="row">
              <div class="col-sm-4" *ngFor="let summoner of summoners">
                <div class="card">
                  <div class="card-body">
                    <a>{{summoner.Summoner_Name}}</a>
                    <a>{{summoner.Rank}}</a>
                    <a>{{summoner.Tier}}</a>
                    <a>{{summoner.MMR}}</a>
                    <a>{{summoner.Points}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>