
h2, label, input, p {
    color: white;
}

.btn-primary {
    background-color: #1ba098;
    border: none;
}

.btn-link {
    color: #1ba098;
}

.mat-datepicker-toggle {
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
   }

input[type=radio] {
    position: absolute;
    display: none;
}

input[type=text] {
    color: #2c2c2c;
}



select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    
  }

.aria-label {
    color: white;
    
}

.main-form {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 2%;
    background-color: opacify($color: #09263b, $amount: 0.5);
    border-radius: 2%;
}

.error-message {
    color: red;
    font-style: italic;
}

.available-message {
    color: green;
    font-style: italic;
}

h2 {
    text-align: center;
}

// https://stackoverflow.com/a/53536919
:host ::ng-deep .mat-radio-label-content {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 15px;
    padding-right: 15px;
}

:host ::ng-deep .mat-select-value {
    display: table-cell;
    max-width: 0;
    /* width: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

.mat-radio-outer-circle{
    border-color:rgb(66, 134, 244); 
}

.mat-radio-group {
    width: auto;
    border: none;
    background: none;
    color: white;
    
}

input, select, textarea{
    color: #2c2c2c;
}

