@media (max-width: 300px) {
.main-form {
    margin: 0 auto;
}
}
.error-message {
    color: red;
    font-style: italic;
}

.available-message {
    color: green;
    font-style: italic;
}
available-message
h2 {
    text-align: center;
}